/*
 * Globals
 */

@media (min-width: 48em) {
    html {
        font-size: 18px;
    }
}

body {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #555;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* font-family: SIMPLIFICA;
    src: url('{{ public_path('fonts/SIMPLIFICA.tff') }}'); */
    font-weight: normal;
    color: #333;
}

/*
 * Override Bootstrap's default container.
 */

.container {
    max-width: 60rem;
}

/*
 * Masthead for nav
 */

.blog-masthead {
    margin-bottom: 3rem;
    background-color: #428bca;
    -webkit-box-shadow: inset 0 -.1rem .25rem rgba(0, 0, 0, .1);
    box-shadow: inset 0 -.1rem .25rem rgba(0, 0, 0, .1);
}

/* Nav links */

.nav-link {
    position: relative;
    padding: 1rem;
    font-weight: 500;
    color: #cdddeb;
}

.nav-link:hover, .nav-link:focus {
    color: #fff;
    background-color: transparent;
}

/* Active state gets a caret at the bottom */

.nav-link.active {
    color: #fff;
}

.nav-link.active:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -.3rem;
    vertical-align: middle;
    content: "";
    border-right: .3rem solid transparent;
    border-bottom: .3rem solid;
    border-left: .3rem solid transparent;
}

/*
 * Blog name and description
 */

.blog-header {
    padding-bottom: 1.25rem;
    margin-bottom: 2rem;
    border-bottom: .05rem solid #eee;
}

.blog-title {
    margin-bottom: 0;
    font-size: 2rem;
    font-weight: normal;
}

.blog-description {
    font-size: 1.1rem;
    color: #999;
}

@media (min-width: 40em) {
    .blog-title {
        font-size: 3.5rem;
    }
}

/*
 * Main column and sidebar layout
 */

/* Sidebar modules for boxing content */

.sidebar-module {
    height: 100%;
    padding: 1rem;
    /*margin: 0 -1rem 1rem;*/
}

.sidebar-module-inset {
    padding: 1rem;
    background-color: #2b86ff;
    border-radius: .25rem;
}

.sidebar-module-inset p:last-child, .sidebar-module-inset ul:last-child, .sidebar-module-inset ol:last-child {
    margin-bottom: 0;
}

/* Pagination */

.blog-pagination {
    margin-bottom: 4rem;
}

.blog-pagination>.btn {
    border-radius: 2rem;
}

/*
 * Blog posts
 */

.blog-post {
    margin-bottom: 4rem;
}

.blog-post-title {
    margin-bottom: .25rem;
    font-size: 2.5rem;
}

.blog-post-meta {
    margin-bottom: 1.25rem;
    color: #999;
}

/*
 * Footer
 */

.blog-footer {
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
}

.blog-footer p:last-child {
    margin-bottom: 0;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.mid {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/* .right {
    position: absolute;
    bottom: 0;
    right: 0;

    margin: auto;
} */

.icon-bar {
    width: 100%;
    background-color: rgba(#0b0de2, 0.81);
    overflow: auto;
    margin: 0;
    display: table;
    font-weight: 100;
    /* font-family: SIMPLIFICA;
    src: url('{{ public_path('fonts/SIMPLIFICA.tff') }}'); */
}

.icon-bar a {
    float: left;
    width: 9%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 24px;
}

.icon-bar-right a{
    float:right;
}

.icon-bar a:hover {
    background-color: #ffffff;
}

.activepage {
    background-color: #66bce7 !important;
}

/*slideshow  */

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
